html, body, #root {
    height: 100%;
}

.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
    font-size: 1.2em;

}

h1 {
    font-size: 1.4em;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: normal;
    color: white;
    background-color: #222222;
    display: inline;
}

h2 {
    font-size: 1em;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: normal;
    color: white;
    background-color: #222222;
    display: inline;
}

.code {
    color: #7BB94E;
}
.science {
    color: #1DA1F2;
}
.design {
    color: #F4B800;
}

.btn-dark {
    background-color: #222222;    
}

.head {
    height: 400px;
}

.spaces {
    margin-left: 1.4em;
}

section {
    background-color: white;
}

.img-container {
    position: relative;
}

.img-container:hover .overlay {
    opacity: 0.6;
}

.img-container:hover .text {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0; 
    transition: .5s ease;
    color: white;
}

a:hover h1 {
    color: #F4B800;
}

a:hover {
    color: #F4B800;
}

a {
    color: #222222;
}

ul {
    list-style-type: none;
}

.bg-head {
    height: 600px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}
